@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* base styles */
p {
	font-size: 1.1rem;
}
* {
	margin: 0;
	font-family: "Quicksand";
	color: #333;
}

/* for navbar*/
.navbar-container {
	background-color: whitesmoke;
}
.nav {
	/* border: 2px solid black; */
	justify-content: space-around;
	font-size: 1.5vmax;
}

.navbar-brand {
	color: #f1356d !important;
	font-weight: bold;
	font-size: 2vmax;
}

/* for Home*/
.home {
	margin-top: 2vmin;
	padding: 20px;
	width: 100%;
}

/*Blogs section*/
.loading-error {
	width: 20%;
	margin: auto;
}
.loading-error > * {
	text-align: center;
	width: 100%;
}
.blogs-container {
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-around;
}
.blogs-container > * {
	padding: 20px;
}
.big-blog {
	border-right: 1px solid black;
	width: 70%;
}
.blogs-list {
	width: 50%;
	/* border: 1px solid red; */
}
.media-blogs-list {
	padding: 4px;
	border-radius: 3px;
}
.media-blogs-list:hover {
	background-color: whitesmoke;
	cursor: pointer;
}

/*trending blogs */

.trending-blogs-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* border: 1px solid black; */
}
.trending-blogs-container > *:hover {
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.trending-blogs-media > * {
	margin-bottom: 0;
}

/*removing decoration from links*/
a,
a:hover {
	text-decoration: none;
	color: inherit;
}

/*display blogs section*/
.display-blogs-container {
	width: 100%;
	margin-top: 2vmin;
	padding: 10px;
	border: 1px solid black;
}

.display-blogs-container > * {
	width: 70%;
	margin: auto;
	padding: 10px;
}
.display-blogs-blog-top {
	width: 70%;
	padding: 10px;
	margin: auto;
	border: 1px solid red;
	text-align: center;
}
.display-blogs-blog-top > h1 {
	font-size: 3rem;
	font-family: 'Roboto Condensed', sans-serif;
}
.test {
	align-items: center;
}

.display-blogs-blog-bottom > h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

/*newblog*/
.newblog-form {
	height: 100vh;
	padding: 2vmin;
	position: relative;
	background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm184-adj-81.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=26bf5db349c6e87900311707107de296');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin: auto;
	/* border: 1px solid black; */
	align-items: center;
}
.newblog-form > h2 {
	text-align: center;
	font-size: 3vmax;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}

.newblog-form-content > * {
	display: block;
	margin-left: 20%;
}
.newblog-form-content {
	font-weight: bolder;
	background-color: rgb(255, 255, 255);
	padding: 1vmin;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
	/* display: flex;
	flex-direction: column;
	justify-content: center; */

	font-size: 1.3rem;
	margin: auto;
	width: 50%;
}
input,
textarea {
	width: 60%;
}
